<h1><%= @contact.username %></h1>


<ul class="convo">
  <% unless @convo.empty? %>
    <% @convo.each do |m| %>
      <% if m.user_id == @user.id %>
        <li class="message">
          <span class="name"><%= @user.username %></span>
          <span class="time"><%= m.created_at.strftime("%l:%M") %></span>
          <div class="messagebutton">
            <%= button_to 'x', contact_message_path(@contact, m), params: { 'contact_id' => @contact.id }, method: :delete,  data: {confirm: 'Confirm Delete'}, form_class: "button-overlap"  %>
            <%= button_to '>', edit_contact_message_path(@contact, m), method: :get,  data: {confirm: 'Edit Message?'}, form_class: "button-overlap" %>
          </div>
          <br>
          <%= m.content %>
        </li><br>
      <% else %>
        <li class="message">
          <span class="name"><%= m.user.username %></span>
          <span class="time"><%= m.created_at.strftime("%l:%M") %></span><br><br>
          <%= m.content %></li><br>
      <% end %>
    <% end %>
  <% end %>
</ul>
