<!DOCTYPE html>
<html>
  <head>
    <title>Taut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <div id="wrapper">

          <div id="top-nav">
            <span>Hi, <%= @user.username %></span>
          </div>

          <div id="scrollbox">

            <span>Groups:</span><br>

            <%= render 'groups/group', user: @user %>

            <span>
              <%= render 'users/groups', user: @user  %>
            </span><br>

            <span>Contacts:</span><br>

            <%= render 'contacts/contact', user: @user %>

            <span>
              <%= render 'users/contacts', user: @user %>
            </span>
          </div>

          <div id="show_box">
            <%= yield %>
          </div>

          <div class="bottom-nav" id="bottom-left">
            Bottom left
          </div>

          <div class="bottom-nav" id="bottom-right">
            <%= new_message_form %>
          </div>

        </div>

  </body>
</html>
