<!DOCTYPE html>
<html>
  <head>
    <title>Taut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="wrapper">

      <div id="top-nav">
        <span>Group Message Home</span>
        <span>Hi, <%= @user.username %></span>
      </div>

      <div id="scrollbox">

        <span>Groups:</span><br>

        <%= render 'groups/group', user: @user %>

        <span>
          <% @user.groups.each do |group| %>
            <% if !group.id.nil? %>
              <%=link_to group.name, group_path(group) %><br>
            <% end %>
          <% end %>
        </span><br>

        <span>Contacts:</span><br>

        <%= render 'groups/contact', user: @user %>

        <span>
          <% @user.contacts.each do |contact| %>
            <% if !contact.id.nil? %>
              <%= link_to contact.username, contact_path(contact) %><br>
            <% end %>
          <% end %>
        </span>
      </div>

      <div id="show_box">
        <% if @group %>
          <%= render "groups/show", group: @group %>
        <% else %>
          <%= render "contacts/show", conversation: @conversation %>
        <% end %>
      </div>

      <div class="bottom-nav" id="bottom-left">
        Bottom left
      </div>

      <div class="bottom-nav" id="bottom-right">
        Bottom right
      </div>

    </div>

  </body>
</html>
