<!DOCTYPE html>
<html>
  <head>
    <title>Taut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="flash_message">
      <% if flash %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% end %>
    </div>


    <div id="wrapper">

      <div id="top-nav">
        <span>
          <img src="/images/taut-logo-mint.png" alt="taut">
        </span>
        <span id="username">
          <%= @user.username %>
        </span>
        <span id="logout_link">
          <%= link_to 'logout', logout_path, method: :delete  %>
        </span>
      </div><br>


      <div id="scrollbox">
        <span>Groups:</span><br>

        <div id="join_group_form">
        <%= render 'groups/new_group', user: @user %>
        </div>

        <div id="new_group_form">
          <%= render 'users/show_groups', user: @user  %>
        </div><br>

        <span>Contacts:</span><br>

        <div id="new_contact_form">
          <%= render 'contacts/new_contact', user: @user %>
        </div>

        <div id="show_contacts_list">
          <%= render 'users/show_contacts', user: @user %>
        </div>
      </div>

      <div id="show_box">
        <%= yield %>
      </div>

      <div class="bottom-nav" id="bottom-left">
        Bottom left
      </div>

      <div class="bottom-nav" id="bottom-right">
        <%= new_message_form %>
      </div>

    </div>

  </body>
</html>
